<section class="main_reviews block" id="reviews">
    <div class="block__content_bg_img"></div>
    <div class="container">
        <div class="main_reviews__content block__content">
            <div class="main_reviews__left block__left">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <h2 class="main_reviews__title h2_title">06 / Отзывы</h2>
            </div>
            <div class="main_reviews__right block__right">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <div class="main_reviews__right_title block__right_title">
                    <div class="main_reviews__right_title_text block__right_title_text width_61 js-anim-block hide from_bottom">Что о нас пишут заказчики</div>
                </div>
                <div class="main_reviews__slider_wr">
                    <div class="main_reviews__slider_controls">
                        <div class="main_reviews__slider_prev"><svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="#242528" stroke-width="2" stroke-linecap="square"/>
                        </svg></div>
                        <div class="main_reviews__slider_pagination"></div>
                        <div class="main_reviews__slider_next"><svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="#242528" stroke-width="2" stroke-linecap="square"/>
                        </svg></div>
                    </div>
                    <div class="main_reviews__slider swiper-container">
                    <div class="main_reviews__slider_wrapper swiper-wrapper">
                        <div class="main_reviews__slider_slide main_reviews_slide swiper-slide">
                            <div class="main_reviews_slide__items">
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ООО «Первая Газовая Компания»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                            </div>
                        </div>
                        <div class="main_reviews__slider_slide main_reviews_slide swiper-slide">
                            <div class="main_reviews_slide__items">
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ООО «Первая Газовая Компания»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                            </div>
                        </div>
                        <div class="main_reviews__slider_slide main_reviews_slide swiper-slide">
                            <div class="main_reviews_slide__items">
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ООО «Первая Газовая Компания»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                                <div class="main_reviews_slide__item js-anim-block hide from_bottom">
                                    <a data-src="img/main/main_reviews/review_1.jpg" data-fancybox class="main_reviews_slide__img">
                                        <img src="img/main/main_reviews/review_1.jpg" alt="">
                                    </a>
                                    <div class="main_reviews_slide__date">23.02.2022</div>
                                    <div class="main_reviews_slide__text">ПАО «Газпром»</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>