<section class="main_projects block this--blue" id="projects">
    <div class="container">
        <div class="main_projects__content block__content this--blue">
            <div class="block__content_bg_img"></div>
            <div class="main_projects__left block__left">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <h2 class="main_projects__title h2_title">03 / Проекты</h2>
            </div>
            <div class="main_projects__right block__right">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <div class="main_projects__right_title block__right_title">
                    <div class="main_projects__right_title_text block__right_title_text width_61 js-anim-block hide from_bottom">Выполненные проекты</div>
                </div>
                <div class="main_projects__items">
                    <a href="#" class="main_projects__item width_65 js_open_detail_popup">
                        <div class="main_projects__item_img js-anim-block blur from_bottom">
                            <img src="img/main/main_projects/img_1.jpg" alt="">
                        </div>
                        <div class="main_projects__item_city js-anim-block hide from_bottom">г. Санкт-Петербург</div>
                        <div class="main_projects__item_text js-anim-block hide from_bottom">Монтаж кровли в БЦ “Луч”</div>
                    </a>
                    <a href="#" class="main_projects__item width_34 js_open_detail_popup">
                        <div class="main_projects__item_img js-anim-block blur from_bottom">
                            <img src="img/main/main_projects/img_2.jpg" alt="">
                        </div>
                        <div class="main_projects__item_city js-anim-block hide from_bottom">г. Сочи</div>
                        <div class="main_projects__item_text js-anim-block hide from_bottom">Реконструкция летнего театра</div>
                    </a>
                    <a href="#" class="main_projects__item width_38 js_open_detail_popup">
                        <div class="main_projects__item_img js-anim-block blur from_bottom">
                            <img src="img/main/main_projects/img_2.jpg" alt="">
                        </div>
                        <div class="main_projects__item_city js-anim-block hide from_bottom">г. Сочи</div>
                        <div class="main_projects__item_text js-anim-block hide from_bottom">Реконструкция летнего театра</div>
                    </a>
                    <a href="#" class="main_projects__item width_61 js_open_detail_popup">
                        <div class="main_projects__item_img js-anim-block blur from_bottom">
                            <img src="img/main/main_projects/img_1.jpg" alt="">
                        </div>
                        <div class="main_projects__item_city js-anim-block hide from_bottom">г. Санкт-Петербург</div>
                        <div class="main_projects__item_text js-anim-block hide from_bottom">Монтаж кровли в БЦ “Луч”</div>
                    </a>
                </div>
                <ul class="main_projects__pagination pagination">
                    <li>
                        <a href="#" class="pagination_link this--arrow this--prev disabled">
                            <svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="white" stroke-width="2" stroke-linecap="square"></path>
                            </svg>
                        </a>
                    </li>
                    <li><a href="#" class="pagination_link active">1</a></li>
                    <li><a href="#" class="pagination_link">2</a></li>
                    <li><a href="#" class="pagination_link">3</a></li>
                    <li>
                        <a href="#" class="pagination_link this--arrow this--next">
                            <svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="white" stroke-width="2" stroke-linecap="square"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>