.main_partners__right_title_text {
  color: #ffffff;
}
.main_partners__slider {
  margin-top: 100px;
  overflow: hidden;

  @media ($tablet) {
    margin-top: 40px;
    margin-left: -15px;
  }
}
.main_partners_slide.swiper-slide {
  width: 180px;

  @media ($tablet3) {
    width: 100px;
  }
}
.main_partners_slide__img {
  position: relative;
  padding-top: 55.55%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}