<section class="main_services block" id="services">
    <div class="block__content_bg_img"></div>
    <div class="container">
        <div class="main_services__content block__content">
            <div class="main_services__left block__left">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <h2 class="main_services__title h2_title">04 / Услуги</h2>
            </div>
            <div class="main_services__right block__right">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <div class="main_services__right_title block__right_title">
                    <div class="main_services__right_title_text block__right_title_text width_61 js-anim-block hide from_bottom">Выполняем следующие работы</div>
                </div>
                <div class="main_services__services services">
                    <div class="services__accordions width_65 js-anim-block hide from_bottom">
                        <div class="services__accordion active">
                            <div class="services__accordion_head js_services_accordion_head active" data-item="1">
                                <div class="services__accordion_head_left">
                                    <div class="services__accordion_head_num">01</div>
                                    <div class="services__accordion_head_title">Проектирование</div>
                                </div>
                                <div class="services__accordion_head_btn"></div>
                            </div>
                            <div class="services__accordion_body">
                                <p>Создаем конструктивные и архитектурные решения для коммерческих, административных и жилых сооружений.</p>
                            </div>
                        </div>
                        <div class="services__accordion">
                            <div class="services__accordion_head js_services_accordion_head" data-item="2">
                                <div class="services__accordion_head_left">
                                    <div class="services__accordion_head_num">02</div>
                                    <div class="services__accordion_head_title">Реконструкция старого фонда</div>
                                </div>
                                <div class="services__accordion_head_btn"></div>
                            </div>
                            <div class="services__accordion_body">
                                <p>Создаем конструктивные и архитектурные решения для коммерческих, административных и жилых сооружений.</p>
                            </div>
                        </div>
                        <div class="services__accordion">
                            <div class="services__accordion_head js_services_accordion_head" data-item="3">
                                <div class="services__accordion_head_left">
                                    <div class="services__accordion_head_num">03</div>
                                    <div class="services__accordion_head_title">Устройство кровель</div>
                                </div>
                                <div class="services__accordion_head_btn"></div>
                            </div>
                            <div class="services__accordion_body">
                                <p>Создаем конструктивные и архитектурные решения для коммерческих, административных и жилых сооружений.</p>
                            </div>
                        </div>
                        <div class="services__accordion">
                            <div class="services__accordion_head js_services_accordion_head" data-item="4">
                                <div class="services__accordion_head_left">
                                    <div class="services__accordion_head_num">04</div>
                                    <div class="services__accordion_head_title">Отделочные работы</div>
                                </div>
                                <div class="services__accordion_head_btn"></div>
                            </div>
                            <div class="services__accordion_body">
                                <p>Создаем конструктивные и архитектурные решения для коммерческих, административных и жилых сооружений.</p>
                            </div>
                        </div>
                        <div class="services__accordion">
                            <div class="services__accordion_head js_services_accordion_head" data-item="5">
                                <div class="services__accordion_head_left">
                                    <div class="services__accordion_head_num">05</div>
                                    <div class="services__accordion_head_title">Изготовление и монтаж металлоконструкций</div>
                                </div>
                                <div class="services__accordion_head_btn"></div>
                            </div>
                            <div class="services__accordion_body">
                                <p>Создаем конструктивные и архитектурные решения для коммерческих, административных и жилых сооружений.</p>
                            </div>
                        </div>
                        <div class="services__accordion">
                            <div class="services__accordion_head js_services_accordion_head" data-item="6">
                                <div class="services__accordion_head_left">
                                    <div class="services__accordion_head_num">06</div>
                                    <div class="services__accordion_head_title">Работы с фундаментом и каркасом зданий</div>
                                </div>
                                <div class="services__accordion_head_btn"></div>
                            </div>
                            <div class="services__accordion_body">
                                <p>Создаем конструктивные и архитектурные решения для коммерческих, административных и жилых сооружений.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services__items width_34 js-anim-block hide from_bottom">
                        <div class="services__item js_services_item" data-item="1">
                            <div class="services__item_img">
                                <img src="img/main/main_services/item_img.jpg" alt="">
                            </div>
                            <div class="services__item_city">г. Краснодар</div>
                            <div class="services__item_text">Проектирование торгового центра</div>
                            <a href="#" class="services__item_btn btn js_open_callback_popup">Заказать услугу</a>
                        </div>
                        <div class="services__item js_services_item" data-item="2">
                            <div class="services__item_img">
                                <img src="img/main/main_services/item_img.jpg" alt="">
                            </div>
                            <div class="services__item_city">г. Краснодар</div>
                            <div class="services__item_text">Проектирование торгового центра 2</div>
                            <a href="#" class="services__item_btn btn js_open_callback_popup">Заказать услугу</a>
                        </div>
                        <div class="services__item js_services_item" data-item="3">
                            <div class="services__item_img">
                                <img src="img/main/main_services/item_img.jpg" alt="">
                            </div>
                            <div class="services__item_city">г. Краснодар</div>
                            <div class="services__item_text">Проектирование торгового центра 3</div>
                            <a href="#" class="services__item_btn btn js_open_callback_popup">Заказать услугу</a>
                        </div>
                        <div class="services__item js_services_item" data-item="4">
                            <div class="services__item_img">
                                <img src="img/main/main_services/item_img.jpg" alt="">
                            </div>
                            <div class="services__item_city">г. Краснодар</div>
                            <div class="services__item_text">Проектирование торгового центра 4</div>
                            <a href="#" class="services__item_btn btn js_open_callback_popup">Заказать услугу</a>
                        </div>
                        <div class="services__item js_services_item" data-item="5">
                            <div class="services__item_img">
                                <img src="img/main/main_services/item_img.jpg" alt="">
                            </div>
                            <div class="services__item_city">г. Краснодар</div>
                            <div class="services__item_text">Проектирование торгового центра 5</div>
                            <a href="#" class="services__item_btn btn js_open_callback_popup">Заказать услугу</a>
                        </div>
                        <div class="services__item js_services_item" data-item="6">
                            <div class="services__item_img">
                                <img src="img/main/main_services/item_img.jpg" alt="">
                            </div>
                            <div class="services__item_city">г. Краснодар</div>
                            <div class="services__item_text">Проектирование торгового центра 6</div>
                            <a href="#" class="services__item_btn btn js_open_callback_popup">Заказать услугу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>