<footer class="footer block this--blue this--black this--main">
    <div class="container">
        <div class="footer__content block__content this--blue">
            <div class="footer__left block__left">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="footer__right block__right">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <div class="footer__row">
                    <ul class="footer__menu">
                        <li><a href="#about" class="footer__link">О нас</a></li>
                        <li><a href="#projects" class="footer__link">Проекты</a></li>
                        <li><a href="#services" class="footer__link">Услуги</a></li>
                        <li><a href="#partners" class="footer__link">Партнеры</a></li>
                        <li><a href="#reviews" class="footer__link">Отзывы</a></li>
                        <li><a href="#contacts" class="footer__link">Контакты</a></li>
                    </ul>
                    <a href="#" class="footer__politic">Политика конфиденциальности</a>
                    <a href="#" class="footer__develope">Сайт разработан <img src="img/footer/develope.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>