<section class="main_about block" id="about">
    <div class="block__content_bg_img"></div>
    <div class="container">
        <div class="main_about__content block__content">
            <div class="main_about__left block__left">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <h2 class="main_about__title h2_title">02 / О компании</h2>
            </div>
            <div class="main_about__right block__right">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <div class="main_about__right_title block__right_title">
                    <div class="main_about__right_title_text block__right_title_text width_61 js-anim-block hide from_right">Наша задача — использовать новейшие технологии и тенденции таким образом, чтобы обеспечить наивысшее качество услуг</div>
                </div>
                <div class="main_about__items js-anim-block hide from_left">
                    <div class="main_about__item width_38">
                        <div class="main_about__item_img">
                            <img src="img/main/main_about/main_about_1.png" alt="">
                        </div>
                        <div class="main_about__item_text">Используем самое современное оборудование</div>
                    </div>
                    <div class="main_about__item width_61">
                        <div class="main_about__item_img">
                            <img src="img/main/main_about/main_about_2.png" alt="">
                        </div>
                        <div class="main_about__item_text">Предоставляем всю необходимую документацию</div>
                    </div>
                    <div class="main_about__item width_38">
                        <div class="main_about__item_img">
                            <img src="img/main/main_about/main_about_3.png" alt="">
                        </div>
                        <div class="main_about__item_text">Быстро решаем сложные задачи</div>
                    </div>
                    <div class="main_about__item width_61">
                        <div class="main_about__item_img">
                            <img src="img/main/main_about/main_about_4.png" alt="">
                        </div>
                        <div class="main_about__item_text">Экономим Ваш бюджет</div>
                    </div>
                </div>
                <div class="main_about__img_text about_img_text">
                    <div class="about_img_text__left width_38">
                        <div class="about_img_text__img">
                            <img src="img/main/main_about/img_1.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_img_text__right width_61 js-anim-block hide from_right">
                        <div class="about_img_text__title">Масштаб</div>
                        <div class="about_img_text__text">Нам доверяют как государственные заказчики, так и частные инвесторы. При необходимости берëм на себя функции генерального подрядчика. Работаем с проектами любых масштабов и уровней сложности. Мы ценим ваше время и бюджет, уважаем ваши приоритеты.</div>
                    </div>
                </div>
                <div class="main_about__img_text about_img_text this--reverse">
                    <div class="about_img_text__left width_34">
                        <div class="about_img_text__img">
                            <img src="img/main/main_about/img_2.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_img_text__right width_65 js-anim-block hide from_left">
                        <div class="about_img_text__title">Мастерство</div>
                        <div class="about_img_text__text">Штат нашей команды позволяет бесперебойно работать 24 часа в сутки без выходных. Бизнес-процессы настроены таким образом, чтобы минимизировать и исключить бесполезные затраты. Каждый сотрудник прошëл тщательный отбор, поэтому любой из нас — профессионал своей области, которому можно доверять.</div>
                    </div>
                </div>
                <div class="main_about__img_text about_img_text">
                    <div class="about_img_text__left width_38">
                        <div class="about_img_text__img">
                            <img src="img/main/main_about/img_3.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_img_text__right width_61 js-anim-block hide from_right">
                        <div class="about_img_text__title">Доступность</div>
                        <div class="about_img_text__text">За счëт использования современных технологий и оптимизации внутренних процессов мы сделали наши услуги доступными. Прорабатываем бюджет каждого заказа индивидуально, чтобы учесть возможности и пожелания любого клиента. Таким образом, даже в малом бюджете будет найдено оптимальное решение.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>