<section class="main_top">
    <div class="main_top__slider swiper-container">
        <div class="main_top__slider_controls">
            <div class="main_top__slider_prev"><svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="white" stroke-width="2" stroke-linecap="square"/>
            </svg></div>
            <div class="main_top__slider_pagination"></div>
            <div class="main_top__slider_next"><svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="white" stroke-width="2" stroke-linecap="square"/>
            </svg></div>
        </div>
        <div class="main_top__slider_wrapper swiper-wrapper">
            <div class="main_top__slider_slide main_top_slide swiper-slide">
                <div class="main_top_slide__bg">
                    <img src="img/main/main_top/bg.jpg" alt="">
                </div>
                <div class="container">
                    <div class="main_top_slide__content">
                        <div class="block__content">
                            <div class="block__left">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                            <div class="block__right">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="main_top_slide__left">
                            <h1 class="main_top__title h2_title">01 / Строительная компания «Основа»</h1>
                            <div class="main_top__subtitle">Современная компания<br> для прекрасной <span class="main_top__subtitle_big">России будущего</span></div>
                            <div class="main_top__text">Проектирование, реконструкция и отделка любых зданий</div>
                        </div>
                        <div class="main_top_slide__right">
                            <a href="#projects" class="main_top_slide__link">Проекты<svg width="323" height="331" viewBox="0 0 323 331" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M299.648 27.9318C337.895 72 334.996 165.5 235.421 268.508C184.487 321.197 91.8039 353.276 34.5731 311.558C-21.1401 270.947 -8.53798 162.706 73.7836 76.1745C158.887 -13.2807 261.4 -16.1365 299.648 27.9318ZM301.445 44.687C336.583 100.646 284.028 203.194 232.821 254.372C185.142 302.024 95.0173 337.618 44.7051 304.919C-13.1669 267.307 9.12299 158.204 83.4051 77.2654C160.973 -7.25309 266.307 -11.2721 301.445 44.687Z" fill="white"/>
                            </svg></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_top__slider_slide main_top_slide swiper-slide">
                <div class="main_top_slide__bg">
                    <img src="img/main/main_top/bg.jpg" alt="">
                </div>
                <div class="container">
                    <div class="main_top_slide__content">
                        <div class="block__content">
                            <div class="block__left">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                            <div class="block__right">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="main_top_slide__left">
                            <h2 class="main_top__title h2_title">01 / Строительная компания «Основа»</h2>
                            <div class="main_top__subtitle">Современная компания для прекрасной Современная компания для прекрасной<span class="main_top__subtitle_big">России будущего</span></div>
                            <div class="main_top__text">Проектирование, реконструкция и отделка любых зданий</div>
                        </div>
                        <div class="main_top_slide__right">
                            <a href="#" class="main_top_slide__link">Проекты<svg width="323" height="331" viewBox="0 0 323 331" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M299.648 27.9318C337.895 72 334.996 165.5 235.421 268.508C184.487 321.197 91.8039 353.276 34.5731 311.558C-21.1401 270.947 -8.53798 162.706 73.7836 76.1745C158.887 -13.2807 261.4 -16.1365 299.648 27.9318ZM301.445 44.687C336.583 100.646 284.028 203.194 232.821 254.372C185.142 302.024 95.0173 337.618 44.7051 304.919C-13.1669 267.307 9.12299 158.204 83.4051 77.2654C160.973 -7.25309 266.307 -11.2721 301.445 44.687Z" fill="white"/>
                            </svg></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_top__slider_slide main_top_slide swiper-slide">
                <div class="main_top_slide__bg">
                    <img src="img/main/main_top/bg.jpg" alt="">
                </div>
                <div class="container">
                    <div class="main_top_slide__content">
                        <div class="block__content">
                            <div class="block__left">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                            <div class="block__right">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="main_top_slide__left">
                            <h2 class="main_top__title h2_title">01 / Строительная компания «Основа»</h2>
                            <div class="main_top__subtitle">Современная компания <span class="main_top__subtitle_big">России будущего</span></div>
                            <div class="main_top__text">Проектирование, любых зданий</div>
                        </div>
                        <div class="main_top_slide__right">
                            <a href="#" class="main_top_slide__link">Проекты<svg width="323" height="331" viewBox="0 0 323 331" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M299.648 27.9318C337.895 72 334.996 165.5 235.421 268.508C184.487 321.197 91.8039 353.276 34.5731 311.558C-21.1401 270.947 -8.53798 162.706 73.7836 76.1745C158.887 -13.2807 261.4 -16.1365 299.648 27.9318ZM301.445 44.687C336.583 100.646 284.028 203.194 232.821 254.372C185.142 302.024 95.0173 337.618 44.7051 304.919C-13.1669 267.307 9.12299 158.204 83.4051 77.2654C160.973 -7.25309 266.307 -11.2721 301.445 44.687Z" fill="white"/>
                            </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>