.detail_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  @media ($tablet3) {
    padding: 0;
  }
}
.detail_popup__body {
  background: #242528;
  border-radius: 5px;
  max-width: 1270px;
  width: 100%;
  overflow-y: auto;
  position: relative;
  max-height: 100%;
  padding: 95px 40px 80px 60px;

  @media ($tablet) {
    padding: 90px 15px 30px;
  }

  @media ($tablet3) {
    height: 100%;
    border-radius: 0;
    display: -webkit-box;
    flex-direction: column;
    justify-content: center;
  }
}
.detail_popup__close {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 25px;
  width: 50px;
  height: 60px;
  background: url('../img/header/burger_bg.png') center/contain no-repeat;

  @media ($tablet3) {
    top: 20px;
    right: 10px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    height: 2px;
    width: 26px;
    border-radius: 5px;
    background: #FFFFFF;
    left: 12px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.detail_popup__content {
  min-height: 625px;

  @media ($tablet3) {
    min-height: 0;
  }
}
.case__city {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;

  @media ($tablet3) {
    font-size: 16px;
  }
}
.case__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 10px;

  @media ($desktopBig) {
    font-size: 48px;
  }
  @media ($tablet3) {
    font-size: 30px;
  }
}
.case__row {
  margin-top: 35px;
  display: flex;

  @media ($tablet) {
    display: block;
    margin-top: 30px;
  }
}
.case__left {
  width: calc(47.87% - 40px);
  margin-right: 40px;

  @media ($tablet) {
    margin-right: 0;
    width: 400px;
  }
  @media ($tablet3) {
    width: auto;
  }
}
.case__right {
  width: 52.13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media ($tablet) {
    width: auto;
    margin-top: 20px;
  }
}
.case__img {
  padding-top: 76.92%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.case__text {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;

  @media ($tablet3) {
    font-size: 14px;
  }

  p, ul, ol {
    margin-bottom: 20px;

    @media ($tablet3) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.case__btn {
  margin-top: 40px;
  max-width: 400px;

  @media ($tablet) {
    margin-top: 20px;
  }

  @media ($mobileMiddle) {
    max-width: none;
  }
}
.detail_popup__pagination {
  margin-top: 60px;

  @media ($tablet) {
    margin-top: 30px;
  }
  @media ($mobileMiddle) {
    justify-content: center;
  }
}

.case__slider {
  overflow: hidden;
  position: relative;
}
.case__slider_pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 15px;
  text-align: center;
  z-index: 2;

  .swiper-pagination-bullet {
    width: 80px;
    height: 3px;
    margin: 0 5px;
    border-radius: 1px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
    &.swiper-pagination-bullet-active {
      background: #0856A0;
    }
  }
}