<div class="detail_popup js_detail_popup">
    <div class="detail_popup__body">
        <div class="detail_popup__close js_detail_popup_close"></div>
        <div class="detail_popup__content">
            <div class="detail_popup__case case">
                <div class="case__city">г. Сочи</div>
                <div class="case__title">Реконструкция летнего театра</div>
                <div class="case__row">
                    <div class="case__left">
                        <div class="case__slider swiper-container">
                            <div class="case__slider_pagination"></div>
                            <div class="case__slider_wrapper swiper-wrapper">
                                <div class="case__slider_slide swiper-slide">
                                    <div class="case__img">
                                        <img src="img/detail_popup/img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="case__slider_slide swiper-slide">
                                    <div class="case__img">
                                        <img src="img/detail_popup/img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="case__slider_slide swiper-slide">
                                    <div class="case__img">
                                        <img src="img/detail_popup/img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="case__slider_slide swiper-slide">
                                    <div class="case__img">
                                        <img src="img/detail_popup/img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case__right">
                        <div class="case__text">
                            <p>Описание проекта. Не следует, однако, забывать, что граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач.</p>
                            <p>В рамках спецификации современных стандартов, акционеры крупнейших компаний, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления.</p>
                        </div>
                        <div class="case__btn btn js_detail_popup_change js_open_callback_popup">Свяжитесь с нами</div>
                    </div>
                </div>
            </div>
            <ul class="detail_popup__pagination pagination">
                <li>
                    <a href="#" class="pagination_link this--arrow this--prev disabled">
                        <svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="white" stroke-width="2" stroke-linecap="square"></path>
                        </svg>
                    </a>
                </li>
                <li><a href="#" class="pagination_link active">1</a></li>
                <li><a href="#" class="pagination_link">2</a></li>
                <li><a href="#" class="pagination_link">3</a></li>
                <li><span class="pagination_link this--dot">...</span></li>
                <li><a href="#" class="pagination_link">9</a></li>
                <li>
                    <a href="#" class="pagination_link this--arrow this--next">
                        <svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 13.5H32M32 13.5L20.0976 1.59753M32 13.5L20.0976 25.4024" stroke="white" stroke-width="2" stroke-linecap="square"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>